

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    *{
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }

    .cabeza{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        background-color: rosybrown;
    }



    .barravertical{
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: green;
        overflow: scroll;
    }

    .mini{
        height: 188px;
        width: 150px;
        padding: 1em;
        filter: grayscale(100%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition:  all 0.3s;
        transition: all 0.3s;
    }

    .mini:hover{
        filter: grayscale(0%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition:  all 0.3s;
        transition: all 0.3s;

    }

