

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    *{
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }

    strong{
        font-weight: 700px;
    }

    .cabeza{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100px;
        width: 100%;
    }



    .barravertical{
        position: fixed;
        width: 200px;
        height: 100%;
        overflow: scroll;
    }

    .mini{
        height: 188px;
        width: 150px;
        padding: 1em;
        filter: grayscale(100%);
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition:  all 0.1s;
        transition: all 0.1s;
    }

    .mini:hover{
        filter: grayscale(0%);
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition:  all 0.1s;
        transition: all 0.1s;

    }

    .contenedor{
        height: 90vh;
        margin-left: 200px;
    }

    .fotogrande{
        width: 50%;
        height: 90vh;
        float: left;
    }

    .fotog{
        width: 90%;
        height: 90vh;
        float: left;
        overflow: hidden;
        margin-left: 5%;
    }

    .imagen{
        height: 100vh;
        width: auto;
        align-items: center;
    }



    .texto{
        width: 50%;
        float: right;
        text-align: center;
        margin-top: 50vh;
    }

    strong{
        font-weight: 700;
    }



    .boton{
        background-color: #91c1c0;
        border-radius: 10px;
        border-color: #91c1c0;
        padding: 1em;
        width: 10em;
        font-weight: bold;
        text-align: center;
    }

    .boton:hover{
        background-color: #04c5c0;
    }





